[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
decouple = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"
daphne = "*"
channels-redis = "*"

[dev-packages]

[scripts]
server = "python manage.py runserver 0.0.0.0:8000"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
csu = "python manage.py createsuperuser"

[requires]
python_version = "3.8"
